{% extends "base.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://unpkg.com/vue@next"></script>
    <script>
        const app = Vue.createApp({});
    </script>
{% endblock %}

{% block content %}
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                items: []
            },
            methods:{
                getList:function(){
                    axios.get("{{base_url}}api/properties").then(response=>{
                        console.log(response);
                        this.items = response;
                    }).catch(function(error){
                        console.log('erros : ',error);
                    })  
                }
            },
            mounted:function(){
                console.log("test");
                this.getList();
                console.log(this.items);
            },
            created: function () {
                // `this` points to the vm instance
                console.log('a is: ')
            }
        })
    </script>

    <div id="app">
    </div>
{% endblock %}